### Week 1

This week we will cover Python basics. Some of the concepts we will go over are:
<ul>
    <li>Numbers</li>
    <li>Strings</li>
    <li>Lists</li>
    <li>Dictionaries</li>
    <li>Tuples and Sets</li>
    <li>Booleans and Logical Operators</li>
</ul>

### Numbers

<ul>
    <li>Integers: 1, 2, 100, -4</li>
    <li>Floats: 1.0, 2,532, 3.141592654 </li>
</ul>

In [1]:
#Addition 
1+1

2

In [2]:
#Subtraction 
1-1

0

In [3]:
#Multiple
1*2

2

In [4]:
#Divide
1/2

0.5

In [5]:
#Mod (Remainder)

10%3 # = 10 divided by 3 is 3 remainer 1

1

In [6]:
15%3  # = 15 divided by 3 is 5 remainer 0

0

In [7]:
#expontial 

3**3 #3 * 3 * 3

27

In [8]:
#Number Assignment 
a = 1 

#Note for later 
# = is for assign 
# == is to check if it is equal

In [9]:
#Adding objects 
a+a

2

In [10]:
#Reassign - this is something you can do in python, it's a flexible language! 
a = 10

In [11]:
#Adding reassigned objects 
a+a

20

General rules for variable names 

1. Variable name can not start with a number 
2. No spaces in between variable name
3. Cannot use the following (:'",<>/?|\()!@#$%^&*~-+)
4. Don't use Python names (ie: list or str)

In [12]:
# add to self
x = 2
x += 10 # add 10 to x, and assign the result to x
print(x)

12

In [13]:
# subtract from self
x = 4
x -= 2 # subtract 2 from x, and assign the result to x
print(x)

2

In [14]:
# multiply from self
x = 5
x *= 3 # multiply 3 to x, and assign the result to x
print(x)

15

In [15]:
# check type 
type(x)

int

In [16]:
# divide from self
x = 21
x /= 3 # divide 3 from x, and assign the result to x
print(x)

7.0

In [17]:
# check type 
type(x)

float

### Strings

Strings: An ordered sequence of characters

In [18]:
'hello'

'hello'

In [19]:
'hello world'

'hello world'

In [20]:
"hello world"

'hello world'

In [21]:
#be mindful of the quotes

'hello world, it's me'

SyntaxError: invalid syntax (<ipython-input-21-7091f329028b>, line 3)

In [23]:
#this will work
"hello world, it's me"

"hello world, it's me"

In [24]:
#this will not work the way you think 
'Hello'
"It's me"

"It's me"

In [25]:
# pring string, easiest way to see all output immediately
print('Hello')

Hello

In [26]:
print('Hello')
print("It's me")

Hello
It's me

In [27]:
print('Hello')
print("It's me")
print('\n') #line break 
print("I was wondering if after all these years you'd like to meet")

Hello
It's me


I was wondering if after all these years you'd like to meet

In [28]:
# block strings
print(''' 
Hi everyone!
Welcome to Python!
''')

# works the same with """

Hi everyone!
Welcome to Python!

In [29]:
#check type 
print('Hello')
print(type("Hello"))

Hello
<class 'str'>

In [30]:
#check length 
print('Hello')
len("Hello")

Hello

5

In [31]:
#space is included in length check
print('Hello World')
len("Hello World")

Hello World

11

In [32]:
#assign to a string 
b = 'Hello World'

In [33]:
#print 
print(b)

Hello World

In [34]:
#Indexing starts at 0
b[0]

'H'

In [35]:
b[1]

'e'

In [36]:
# we use the : to perform slicing 
b[1:] # grabs everything except after 1st index, including 1st index

'ello World'

In [37]:
# grab everything UP TO the 4rd index, not including the 4th index 
b[:4]

'Hell'

In [38]:
# grab everything 
b[:]

'Hello World'

In [39]:
# grab last letter 
b[-1]

'd'

In [40]:
# grab everything except last letter 
b[:-1]

'Hello Worl'

In [41]:
# grab everything, but go in step sizes of 1
b[::1]

'Hello World'

In [42]:
# print string backwrds
b[::-1]

'dlroW olleH'

#### String methods 

Hint: Use "tab" to see all the built in string methods 

Note: String methods do not reassign

In [43]:
b.upper()

'HELLO WORLD'

In [44]:
b.lower()

'hello world'

In [45]:
b.split() #this will turn it into a list

['Hello', 'World']

#### String Concatenation and Interpolation

In [46]:
b

'Hello World'

In [47]:
b + "it's me"

"Hello Worldit's me"

In [48]:
b + " it's me" # add space

"Hello World it's me"

In [49]:
# string interpolation

In [50]:
number = 20
print(f'Hello, there are {number} of us in class!') # new way, exist in other languages

Hello, there are 20 of us in class!

In [51]:
print("Hello, there are {} of us in class!".format(number)) # old way of doing it

Hello, there are 20 of us in class!

In [52]:
number = 20
day = "Monday"
print(f'Hello, there are {number} of us in class and today is {day}')

Hello, there are 20 of us in class and today is Monday

### Lists

List = Ordered sequence of objects 

Examples: 

['Hello', "it's", 2021]
[2019, 2020, 2021]


Lists are constructed with brackets [] and uses , (commas) to seperate elements in the list 

Note: Similiar to arrays in other languages

In [53]:
list_of_years = [2019, 2020, 2021]

In [54]:
list_of_events = ['pre-pandemic', 'pandemic', 'post-pandemic']

In [55]:
list_of_mixed = ['pre-pandemic', 2020, 'post-pandemic']

In [56]:
len(list_of_mixed)

3

In [57]:
list_of_mixed[0]

'pre-pandemic'

In [58]:
list_of_mixed[1:] #including 1, and everything after

[2020, 'post-pandemic']

In [59]:
list_of_mixed[:1] #up to not including 1

['pre-pandemic']

In [60]:
# use + to concatenate list just like strings 
list_of_years + [2022]

[2019, 2020, 2021, 2022]

In [61]:
# original does not change 

print (list_of_years)

[2019, 2020, 2021]

In [62]:
#Reassign 

list_of_years = list_of_years + [2022]

In [63]:
# should be updated with 2022 now 
print (list_of_years)

[2019, 2020, 2021, 2022]

In [64]:
# append method 

list_of_years.append(2023)

In [65]:
# should be updated with 2023 now 

print (list_of_years)

[2019, 2020, 2021, 2022, 2023]

In [66]:
# pop method 

# popping off the 0th index 
list_of_years.pop(0)

2019

In [67]:
# should be updated without 2019 now 

print (list_of_years)

[2020, 2021, 2022, 2023]

In [68]:
# reverse method 

list_of_years.reverse()

In [69]:
# should be in reverse order  

print (list_of_years)

[2023, 2022, 2021, 2020]

In [70]:
# sort method (abc order for letters, but ascending in numbers)

list_of_years.sort()
print (list_of_years)

[2020, 2021, 2022, 2023]

In [71]:
# sort method (abc order for letters, but ascending in numbers)

list_of_events.sort()
print (list_of_events)

['pandemic', 'post-pandemic', 'pre-pandemic']

#### Nested List

In [72]:
# 3 list 
first=[1,2,3]
second=[4,5,6]
third=[7,8,9]

# list of lists will form a matrix

matrix = [first,second,third]

In [73]:
# Grab first item in the matrix
matrix[0]

[1, 2, 3]

In [74]:
# Grab first item of 1st item in the matrix

In [75]:
matrix[0][0]

1

### Dictionaries 

UNORDERED key value pairs 

{'weather':'66 degrees','day_of_week':'Monday'}

In [76]:
# create a dictionary with key 
my_dict = {'key_1':'value_1','key_2':'value_2','key_3':'value_3'}

In [77]:
my_dict['key_3']

'value_3'

In [78]:
my_new_dict = {'code':'007','names':['James','Bond']}

In [79]:
my_new_dict['names'][0]

'James'

In [80]:
my_new_dict['names'][1].upper()

'BOND'

In [81]:
# creating a new dictionary 

c = {}

In [82]:
c ['class'] = 'python'

In [83]:
c

{'class': 'python'}

In [84]:
c ['class_size'] = 20

In [85]:
c

{'class': 'python', 'class_size': 20}

In [86]:
# dictionary methods

In [87]:
c.keys()

dict_keys(['class', 'class_size'])

In [88]:
c.values()

dict_values(['python', 20])

### TUPLES and SETS 

##### Tuples - Ordered sequence of immutable (non-changable) objects 
 ('hello', 100, "it's me") 
 
Note: Tuples are used for things that shouldn't be changed, like dates on a calendar  
 
##### Sets - Unordered collection of UNIQUE objects (each item will appear once) 

 {'a','b'}

#### Tuples

In [89]:
my_tuples = (0, 'One', 2, 'Three', 'One')

In [90]:
# check length 

len(my_tuples)

5

In [91]:
# check index 

my_tuples.index('Three')

3

In [92]:
# check count

my_tuples.count('One')

2

In [93]:
#immutable 

my_tuples.append('Four')

AttributeError: 'tuple' object has no attribute 'append'

In [94]:
#immutable 

my_tuples[0] = 'Zero'

TypeError: 'tuple' object does not support item assignment

#### Sets

In [95]:
# assign set 

d = set()

In [96]:
d.add(1)

In [97]:
d

{1}

In [98]:
d.add(2)

In [99]:
d

{1, 2}

In [100]:
#will not do anything because sets only have UNIQUE VALUES 

d.add(2)

In [101]:
d

{1, 2}

In [102]:
# List with repeats
list_repeats = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3]

In [103]:
set(list_repeats)

{1, 2, 3}

### Boolean  and Logical Operations 

##### Booleans are logical value of True or False 

##### Logical operators are the "and", "or", "not" operators.


<table class="table">
<tr>
<th style="width:5%">Operator</th><th style="width:50%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [104]:
e = True

In [105]:
e

True

In [106]:
x = 5
print (x ==5) # == is for comparing values, = is for assigning values

True

In [107]:
x = 5
print(x!=5) #! is used as negation

False

In [108]:
x = 5

print(x > 3 and x < 10)

True

In [109]:
x = 5

print(x > 3 or x < 4)

True

In [110]:
x = 5

print(not(x > 3 and x < 10))

False

In [111]:
x = 5

print(x>=5)

True

In [112]:
x=5

print (x<=4)

False

In [113]:
x = True
y = False

print('x and y is',x and y) # one is true and the other is false, so 'and' is false

print('x or y is',x or y) # one is true, other is false, so 'or' is true 

print('not x is',not x) # opposite of true is false

x and y is False
x or y is True
not x is False

In [114]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

False
True

In [115]:
x = 'Hello world'

# Output: True
print('H' in x)

# Output: False
print('hello' in x) #this is because the "H" is capitalized

# Output: True
print('Hello' not in x)

True
False
False