### Week 2

This week we will continue cover Python basics. Some of the concepts we will go over are:
<ul>
    <li>If Statements</li>
    <li>For Loops</li>
    <li>While Loops</li>
    <li>List Comprehension</li>
    <li>Functions</li>
    <li>Methods</li>
</ul>

### If else statements

In [1]:
# IF Statements 

x = False

# if x is true

if x: 
    print("condition met")
# if x is not true    
else:
    print("condition not met")

condition not met

In [2]:
x = False
if not x: # this means condition is true because 'not false' is true, not is a logical operator 
    print("condition met")
else:
    print("condition not met")

condition met

In [3]:
x = 10 
y = 20

if x < y:
    print("x is less than y")
else: 
    print("x is greater than y ")

x is less than y

In [4]:
if 1 < 2 and 4 > 2:
    print("condition met")

condition met

In [5]:
if 4 < 10 or 1 > 2:
    print("condition met")

condition met

#### If elif else statements (Multiple Conditions)

In [6]:
# will evaluate first condition that equals to true
x = 21

if x < 20:
    print("x is smaller than 20.")
elif x > 9:
    print("x is bigger than 9.")
elif x == 10:
    print("x is 10!")
else:
    print("we don't know what x is")

x is bigger than 9.

#### Nested if statements

In [7]:
x = 41

if x > 10:
  print("X is above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

X is above ten,
and also above 20!

### For Loops 

For loop is an iterator in python, it items in sequence 

for item in object:
    statements to do stuff

In [8]:
list = ['yellow', 'blue', 'red']

for color in list: # variable name can be anything
     print(color)

yellow
blue
red

In [9]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [10]:
# Put it all together 

num_list = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for number in num_list:
    if number % 2 == 0:
        print('This is an EVEN number')
    else:
        print('This is an ODD number')

This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number

In [12]:
# tuple unpacking - duplicate the structure inside the tuple and unpack them 
# Tuples - Ordered sequence of immutable (non-changable) objects

In [3]:
tuplelist = [(1,2),(3,4),(5,6)]

In [4]:
len(tuplelist)

3

In [5]:
for nums in tuplelist: 
    print(nums)

(1, 2)
(3, 4)
(5, 6)

In [6]:
for (x,y) in tuplelist: 
    print(x)

1
3
5

In [7]:
for (x,y) in tuplelist: 
    print(y)

2
4
6

In [9]:
for x,y in tuplelist: 
    print(x)

1
3
5

In [19]:
#iterating through a dictionary will only print keys by default 

dic = { 'key_1': 1, 'key_2': 2, 'key_3': 3}

In [20]:
for item in dic:
    print(item)

key_1
key_2
key_3

In [21]:
# to iterate through pairs 

for item in dic.items():
    print(item)

('key_1', 1)
('key_2', 2)
('key_3', 3)

In [22]:
#to iterate through item, you need to call .items()

In [23]:
#tuple unpacking 
for key, value in dic.items():
    print(value)

1
2
3

In [24]:
#if you only want values 
for value in dic.values():
    print(value)

1
2
3

### While Loops 

While loops will keep looping as long as the statement is true. 

while test:
   <br> code statements   <br>
else:
   <br>  final code statements

In [25]:
# This will stop when x is less than or = to 5 because everytime it runs, x goes up by 1 
x = 1
while x <= 5:
    print(x)
    x += 1 # x=x+1

1
2
3
4
5

In [26]:
# This will stop when x is less than or = to 5 because everytime it runs, x goes up by 1 
x = 1
while x <= 5:
    print(x)
    x += 1 # x=x+1 
else: 
    print('done')

1
2
3
4
5
done

In [27]:
#evaulaues x which is 10 so it is never less than 5, therefore it will do what's in the else 

x = 10
while x <= 5:
    print(x)
    x += 1 # x=x+1 
else: 
    print('done')

done

In [28]:
# This will go on forever because x is ALWAYS equal to one 

# x = 1
# while x < 5:
#     print(x)

#### break, continue, pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

<ul>
<li>break: Breaks out of the current closest enclosing loop</li>
<li>continue: Goes to the top of the closest enclosing loop</li>
<li>pass: Do nothing at all</li>
</ul>

In [29]:
for thing in "something": 
    # comment (this will cause an error) so if you don't know what you want to do, write pass
    pass

In [30]:
x = 0

while x <= 3:
    print('x is currently: ',x)
    print(' x is still less than 3, adding 1 to x')
    x+=1 # x = x + 1 
    if x==3:
        print('x is equal 3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 3, adding 1 to x
continuing...
x is currently:  1
 x is still less than 3, adding 1 to x
continuing...
x is currently:  2
 x is still less than 3, adding 1 to x
x is equal 3
x is currently:  3
 x is still less than 3, adding 1 to x
continuing...

In [31]:
x = 0

while x <= 3:
    print('x is currently: ',x)
    print(' x is still less than 3, adding 1 to x')
    x+=1 # x = x + 1
    if x==3:
        print('Breaking because x is equal 3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 3, adding 1 to x
continuing...
x is currently:  1
 x is still less than 3, adding 1 to x
continuing...
x is currently:  2
 x is still less than 3, adding 1 to x
Breaking because x is equal 3

### List Comprehensions 

output = do this for variable in input

In [32]:
squares = []
for i in range(10): #range operator, use tab (start,stop[optional step])
    squares.append(i * i)

In [11]:
range(10)

range(0, 10)

In [33]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
squares_new = [i * i for i in range(10)]

In [35]:
squares_new

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
squares_new_new = [i * i for i in range(0,10) if i%2==1] # if odd

In [37]:
squares_new_new

[1, 9, 25, 49, 81]

In [38]:
# Convert Celsius to Fahrenheit
celsius = [0,10,50.5,32.2222]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 122.9, 89.99996]

In [39]:
# same as above, broken down 
fahrenheit = []

for temp in celsius: 
    fahrenheit.append(( (9/5)*temp + 32))

In [40]:
fahrenheit

[32.0, 50.0, 122.9, 89.99996]

### Functions  

A function is a block of organized, reusable code that is used to perform a single, related action. ... As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions.

In [41]:
def greeting():
    print('Hello World!')

In [42]:
greeting() #need parenthesis to run the function

Hello World!

In [43]:
def hello():
    print("Hello World?")

In [44]:
hello()

Hello World?

In [4]:
def greeting():
    '''This is a greetings function'''
    print('Hello World!')

In [5]:
help(greeting)

Help on function greeting in module __main__:

greeting()
    This is a greetings function

In [45]:
#for loop with function 

for x in range(3):
    greeting()

Hello World!
Hello World!
Hello World!

In [46]:
# functions with variables 
def greeting(name='Unknown'): #the unknown is default 
    print(f'Hello {name}')

In [47]:
greeting('Shirley')

Hello Shirley

In [48]:
# functions with return 
def add_number(number1,number2):
    return number1+number2

In [49]:
add_number(1,2)

3

In [50]:
# difference between return and print is that you can save your results with return, print simply displays 

total = add_number(3,4)

In [51]:
total

7

In [52]:
# check if a number in the list is even 

def check_list(num_list):
    
    for num in num_list:
        if num % 2 == 0: 
            return True 
        else: 
            pass 
        # but what if you want it to return false?

In [53]:
check_list([2,3,5])

True

In [54]:
check_list([1,3,5])
# returns nothing

In [55]:
def check_list(num_list):
    
    for num in num_list:
        if num % 2 == 0: 
            return True 
        else: 
            pass
    return False # make sure this is aligned with for loop, you want it to loop all the way, not stop half way

In [56]:
check_list([1,3,5])

False

In [57]:
def check_even_list(num_list):
    # return all th eeven numbers in the list 
    
    # placeholder variables 
    
    even_numbers = []
    
    for num in num_list:
        if num % 2 == 0: 
            even_numbers.append(num)
        else: 
            pass
        
    return even_numbers

In [58]:
check_even_list([1,2,3,5])

[2]

In [59]:
#tuple unpacking with functions 

score_board = [('Jason', 344), ('Sophie', 433), ('Abigail', 322)]

In [60]:
def check_score(points):
    
    highest_score = 0 # start off at 0 and compare to scores 
    winner = ''
    
    for player,score in score_board:
        if score > highest_score:
            highest_score = score
            winner = player
        else: 
            pass
    
    return (winner, highest_score)

In [61]:
check_score(score_board)

('Sophie', 433)

In [62]:
winner = check_score(score_board)

In [63]:
winner

('Sophie', 433)

In [64]:
winner, score = check_score(score_board)

In [65]:
winner

'Sophie'

In [66]:
score

433

### Methods   

Methods are functions built into objects in python. Use the tab.

In [67]:
numbers = [1,2,3,4,5]

In [68]:
numbers.append(6)

In [69]:
numbers

[1, 2, 3, 4, 5, 6]

In [70]:
numbers.count(2)

1

In [71]:
numbers.remove(3) # remove the element that matches 3

In [72]:
numbers

[1, 2, 4, 5, 6]

In [73]:
numbers.pop(0) # remove the first element – '1' from the list

1

In [74]:
numbers

[2, 4, 5, 6]

In [75]:
numbers.insert(0,1) # insert string at the first element position
print(numbers)

[1, 2, 4, 5, 6]

In [76]:
numbers.insert(2,3) # insert string at the first element position
print(numbers)

[1, 2, 3, 4, 5, 6]

In [77]:
numbers.reverse()
print(numbers)

[6, 5, 4, 3, 2, 1]

In [78]:
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6]

In [79]:
my_string = "onCe Upon A TIME..."

print(my_string.lower()) # Convert all chars to lowercase
print(my_string.upper()) # Convert all chars to uppercase
print(my_string.capitalize()) # Convert first char only to uppercase
print(my_string.title()) # Convert string to title case
print(my_string.swapcase()) # Swap all uppercase for lowercase and vice-versa

once upon a time...
ONCE UPON A TIME...
Once upon a time...
Once Upon A Time...
ONcE uPON a time...

In [80]:
# Replace all instances of a character for another character
my_string = "onCe Upon A TIME..."

print(my_string.replace('o', 'oo'))

oonCe Upoon A TIME...

In [81]:
# string to list
string = "Once upon a time"
string_to_list = string.split(' ') # split the string with a 'space' operator
print(string_to_list)

['Once', 'upon', 'a', 'time']

In [82]:
# list to string
list_to_string = ' '.join(string_to_list) # join the list elements with a 'space' operator
print(list_to_string)

Once upon a time